<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no, maximum-scale=1">
    <title>BERT Clickbait Detector</title>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
    <link rel="stylesheet" href="/static/css/style.css">
    <link rel="shortcut icon" type="image/png" href="/static/images/logo.png">

<body>
<form action="#" method="post">
    <div class="animated fadeIn main">
        <br>
        <h1>BERT Clickbait Headline Classification</h1>
        <p>Headline: </p>
        <div class="inputWrapper">
            <input type="text" name="sentence" value="{{sentence}}" placeholder="enter text" >
            <button id = "submit-btn" type="submit" value="submit" name="btn_idf">Submit</button>
            <button  id = "random-btn" type="submit" value="random" name="btn_idf">Random</button>
        </div>
        <br>
        <br>
        Prediction:
        <br>
        {{output}}
        <br>
        <br>
    </div>
</form>
<hr>
<footer>
    <div>Made with <span class="heart">&hearts;&#xFE0E;</span> by Lara Fenercioğlu</div>
    <br>
    <br>
</footer>
</body>

</html>
